#title {
  padding-top: 50px;
}

body {
 margin: auto;
 text-align: center;
 background-color: white;
 background: url(https://images7.alphacoders.com/662/662102.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*add pokemon shake*/
.pokemon-sprite:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }

 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }

   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }

   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }

   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

.wrapper {
  display:grid;
  grid-template-columns: auto auto auto;
  margin-top:115px;
}

.pokemon-sprite {
  border-radius:100%;
  background-color: rgba(255, 255, 255, 0.5)
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.bg-modal-pokemon-info {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.bg-modal-title {
  text-align:center;
}

.modal-content {
  background:url(https://www.anaitgames.com/images/uploads/2013/09/analisis-pokemon-x-4.jpg);
  background-size:auto;
  background-position: center;
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
  overflow:scroll;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
  visibility: hidden;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

.my-pokemon {
  float:left;
  display:block;
}

.pokemon-info {
  float:center;
  list-style-type: none;
}

.pokemon-info ul li {
  text-align:center;
  list-style-type: none;

}

.release-button-div {
  float:right;
}

.release-button {
  top:50%;
  left:50%;
  margin-bottom:50%;
}
.pokemon-invis {
  clear:both;
}

.pokemon-textfield{
  width: auto;
  background-color: transparent;
border-style: solid;
border-width: 0px 0px 1px 0px;
border-color: darkred;
}


#container.ghost {
  background:url(https://frenchbird.files.wordpress.com/2009/10/phh-troph-version-02sm.jpg)no-repeat center center fixed;
}

#container.water {
  background:url(https://wallpaperplay.com/walls/full/b/b/6/101774.jpg)no-repeat center center fixed;
}

#container.fire {
  background:url(https://i.etsystatic.com/5608659/r/il/f19f67/754456309/il_794xN.754456309_4r80.jpg)no-repeat center center fixed;
}

#container.ice {
  background:url(https://pm1.narvii.com/5932/e5fbc4379331133fa0ea0803d1c83a5c1e602f32_hq.jpg)no-repeat center center fixed;
}

#container.bug {
  background:url(https://i.kym-cdn.com/photos/images/original/001/021/270/841.jpg)no-repeat center center fixed;
}

#container.dark {
  background:url(https://static1.squarespace.com/static/559821e7e4b00f5f813f4e9a/56b642b7ab48de30047c36a2/56b642dd859fd0f815f06c87/1454805897905/Peter_Braeley_Back_Alley.jpg?format=1000w)no-repeat center center fixed;
}

#container.ground {
  background:url(https://s2.best-wallpaper.net/wallpaper/1920x1200/1307/America-desert-landscape-rocks-sky-red-color_1920x1200.jpg)no-repeat center center fixed;
}

#container.flying {
  background:url(https://img.freepik.com/free-photo/white-cloud-sky-background_74190-4646.jpg?size=626&ext=jpg)no-repeat center center fixed;
}

#container.rock {
  background:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0be993e7-c7f4-46f2-aab1-46cbf7c572c5/d3kpvx8-b5b3fe3f-ea8c-4fe0-a26f-20ba52385a01.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBiZTk5M2U3LWM3ZjQtNDZmMi1hYWIxLTQ2Y2JmN2M1NzJjNVwvZDNrcHZ4OC1iNWIzZmUzZi1lYThjLTRmZTAtYTI2Zi0yMGJhNTIzODVhMDEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sFTYZyh8xXS4wEmQ7SeoafcJFdRVL3k2WOHiefPFADQ)no-repeat center center fixed;
}

#container.grass {
  background:url(https://media.istockphoto.com/illustrations/fantasy-forest-background-illustration-painting-illustration-id546452064?k=6&m=546452064&s=612x612&w=0&h=YLwmm7jatK3vFdkHWHLTnCL6URAfvb4rIpT_jeQyWTU=)no-repeat center center fixed;
}

#container.electric {
  background:url(https://www.17thshard.com/forum/uploads/monthly_2017_05/large.Lightning-Storm.jpg.13013fd73a1fde2cd482281a827ea0ae.jpg)no-repeat center center fixed;
}

#container.fairy {
  background:url(https://ak8.picdn.net/shutterstock/videos/33501688/thumb/12.jpg)no-repeat center center fixed;
}

#container.dragon {
  background:url(https://artfiles.alphacoders.com/655/65571.jpg)no-repeat center center fixed;
}

#container.fighting {
  background:url(https://media.istockphoto.com/vectors/vector-of-boxing-ring-corner-vector-id538965821?k=6&m=538965821&s=612x612&w=0&h=qRx_glAlBRZ48gsfkkxFzsLs7a0gWajscJDPOf_Y2Dw=)no-repeat center center fixed;
}
